.hero-banner {
  height: 320px;
  border-radius: 28px;
  overflow: hidden;
  margin: 20px 0;

  background:
    linear-gradient(
      rgba(142, 45, 226, 0.25),
      rgba(255, 79, 163, 0.25)
    ),
    url("https://t3.ftcdn.net/jpg/04/57/00/38/360_F_457003865_J5mhjxkuppKNx0mVk1aSNTJTfrmigdj9.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 30px;

  box-shadow: 0 15px 35px rgba(142, 45, 226, 0.15);
}

.hero-content {
  color: white;
  max-width: 500px;
}

.hero-content span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 1.1;
  margin: 15px 0;
  font-weight: 800;

  text-shadow:
    0 4px 20px rgba(0, 0, 0, 0.3);
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 22px;
  color: #f5f5f5;
}

.hero-content button {
  background: white;
  color: #8e2de2;
  padding: 14px 30px;
  border-radius: 40px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .hero-banner {
    height: 260px;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content button {
    padding: 12px 24px;
  }
}